{% load staticfiles %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Projects QQ</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'news/style.css' %}">
        <link rel="stylesheet" href="{% static 'js/jumbotron.css' %}" >

    </head>
    <body>

                <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                  <div class="container">
                      <a class="navbar-brand" href="">My Projects</a>
                            <a class="navbar-brand navbar-right" href="admin">Admin</a>
                  </div>
                </div>

                <div class="container marketing">
                    <div class="row">
                        {% for project in projects %}
                            <div class="col-lg-4">
                                <img src="{{project.img.url}}" alt="Generic placeholder image" class="img-rounded" />
                                <h2>{{ project.title }}</h2>
                                <p>{{ project.description }}</p>
                                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                            </div>
                        {% endfor %}
                    </div>
                </div>

    </body>
</html>

