{% load staticfiles %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Projects QQ</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'news/style.css' %}">
    </head>
    <body>
        <div id="Projects">
            <h1>
                <a href="/">My Projects</a>
            </h1>
        </div>

        <div class="List">
                {% for project in projects %}
                    <div class="col-lg-3">
                        <p>{{ project.title }}</p>
                        <p>{{ project.description }}</p>
                        <p><img src="{{project.img.url}}" /></p>
                    </div>
                {% endfor %}
        </div>
    </body>
</html>

